.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2d314e;
    color: white;
    padding: 2em;
}

.left{
    display: flex;
    flex-direction: column;
    max-width: 10%;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.socials{
    display: flex;
    gap: .8em;
}

.nav-list-footer-wrapper {
    display: flex;
    flex-wrap: wrap; 
    padding: 0;
    margin: 0;
    max-width: 40%; 
}

.nav-list-footer {
    flex: 1 1 45%; 
    min-width: 45%; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    margin: 0;
    text-align: center;
}

.nav-list-footer a {
    color: white !important;
    text-decoration: none;
    width: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.right p{
    opacity: .5;
}

.white-logo {
    filter: invert(1); 
    width: 100px; 
}

@media (max-width: 768px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4em;
    }
}