.bg-container {
  position: relative;
  width: 100%;
  max-width: 70em;
  min-width: 40em;
  right: -17%;
  top: -27em;
  margin: 0 auto;
  padding: 0;
  margin-bottom: -40em;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: visible;
}

.background-image{
  order: -1;
  width: 100%;
  max-width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block;
}

.mockups {
  position: absolute; 
  top: 65%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%; 
  max-width: 50em; 
  height: auto; 
  z-index: 1; 
}

@media (max-width: 768px){
  .bg-container{
    display: none                                                                    ;
  }
}