.hero-section{
  display: flex;
  max-width: 50%;
  padding: 2em;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero-section{
    flex-direction: column;
    max-width: 100%;
  }

  .description{
    display: flex;
    padding: 5em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}