a, li, ul{
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.hero-section{
    margin: 0;
    max-width: 100%;
    display: flex;
    position: relative;
}

@media (max-width: 768px){
    .hero-section{
        flex-direction: column;
    }

}